@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px 0px;
}

:root {
  font-family: "Poppins";

  --cardWidth: 362px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0000000f;
}

::-webkit-scrollbar-thumb {
  background: #0000004d;
  border-radius: 1000000vh;
}

.noVerticalScrollbar::-webkit-scrollbar {
  width: 0px;
}

@media (max-width: 420px) {
  :root {
    --cardWidth: 325px;
  }
}
@media (max-width: 350px) {
  :root {
    --cardWidth: 288px;
  }
}
